.outerdiv {
  background-color: rgb(24, 24, 24);
  color: #fff;
}
.innerdiv {
  display: grid;
}
.innerdiv h4 {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-weight: lighter;
}
.butt {
  scroll-behavior: smooth;
  position: absolute;
  font-size: 1.5rem;
  display: inline-block;
  background-color: rgb(24, 24, 24);
  color: red;
  border-style: none;
}
.butt1 {
  scroll-behavior: smooth;
  position: absolute;
  font-size: 1.5rem;
  display: inline-block;
  background-color: rgb(24, 24, 24);
  color: red;
  border-style: none;
}
h1 {
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 800;
}
h3 {
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 1.7rem;
}
.nav {
  position: fixed;
  background-color: #000;
  top: 0;
  left: 0;
}
.jnow {
  position: absolute;
  font-family: sans-serif;
  border-radius: 3px;
  border-style: none;
  font-weight: lighter;
  background-color: #df0712;
  color: #fff;
}
.sinow {
  position: absolute;
  height: 2.5rem;
  border-radius: 15px;
  font-family: sans-serif;
  border-radius: 3px;
  border-style: outset;
  font-weight: lighter;
  background-color: black;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  .outerdiv {
    width: 100vw;
    height: 100%;
    padding-top: 0.5rem;
    overflow-x: hidden;
  }
  .innerdiv img {
    width: 10rem;
  }
  .innerdiv {
    grid-template-columns: 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem 11rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    margin-right: 1rem;
    overflow-x: scroll;
  }
  .kandd {
    margin-top: -2rem;
  }
  .bngworth {
    margin-top: -2rem;
  }
  .innerdiv h4 {
    margin-top: 0rem;
    margin-bottom: 1.5rem;
  }
  .butt {
    margin-top: 4rem;
    margin-left: 4rem;
    width: 2rem;
    visibility: hidden;
    height: 2rem;
  }
  .butt1 {
    visibility: hidden;
    margin-top: 4rem;
    margin-left: 0rem;
    width: 2rem;
    height: 2rem;
  }
  h1 {
    margin-left: 1rem;
    margin-top: 3rem;
    width: auto;
  }
  h3 {
    margin-left: 1rem;
    width: auto;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .nav {
    height: 3rem;
    margin-top: 0rem;
    width: 100vw;
    padding-left: 1rem;
    margin-left: 0rem;
  }
  .nav img {
    margin-left: 0rem;
    width: 5rem;
    height: 3rem;
    margin-top: 0;
  }
  .jnow {
    font-size: 15px;
    height: 2rem;
    width: 6rem;
    margin-left: 25vw;
    margin-top: 0.5rem;
  }
  .sinow {
    font-size: 15px;
    width: 6rem;
    height: 2rem;
    margin-left: 50vw;
    margin-top: 0.5rem;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1369px) {
  .outerdiv {
    width: 468px;
    height: 100%;
    padding-top: 0.5rem;
    overflow-x: scroll;
  }
  .innerdiv {
    grid-template-columns: 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 94vw;
    overflow-x: scroll;
  }
  .innerdiv h4 {
    margin-top: 0.25rem;
  }
  .butt {
    margin-top: 4rem;
    margin-left: 20rem;
    width: 2rem;
    visibility: hidden;
    height: 2rem;
  }
  .butt1 {
    visibility: hidden;
    margin-top: 4rem;
    margin-left: 0rem;
    width: 2rem;
    height: 2rem;
  }
  h1 {
    margin-left: 1rem;
    margin-top: 4rem;
    width: 100%;
  }
  h3 {
    margin-left: 1rem;
    width: 90vw;
    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
  }
  .nav {
    height: 3rem;
    width: 100%;
    margin-top: 0rem;
    padding: 0.5rem;
    margin-left: -1rem;
  }
  .nav img {
    margin-left: 3rem;
    width: 8rem;
    height: 3rem;
  }
  .jnow {
    font-size: 15px;
    width: 7rem;
    height: 2.5rem;
    margin-left: 45vw;
    margin-top: 0.25rem;
  }
  .sinow {
    height: 2.5rem;
    width: 7rem;
    font-size: 15px;
    margin-left: 61vw;
    margin-top: 0.25rem;
  }
  .action {
    margin-top: 3rem;
  }
  .kandd {
    margin-top: -4rem;
  }
  .bngworth {
    margin-top: -4rem;
  }
}
@media only screen and (min-width: 1369px) and (max-width: 1920px) {
  .outerdiv {
    width: 100vw;
    height: 100%;
    padding-top: 0.5rem;
    overflow-x: hidden;
  }
  .innerdiv img {
    width: 94%;
    height: 14%;
  }
  .innerdiv {
    grid-template-columns: 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem;
    margin-left: 3rem;
    margin-right: 1rem;
    width: 90vw;
    overflow-x: hidden;
  }
  .innerdiv h4 {
    margin-top: 0.25rem;
  }
  .butt {
    /* margin-top: 21rem; */
    margin-left: 95vw;
    width: 2rem;
    z-index: 0;
    visibility: visible;
    height: 2rem;
  }
  .butt1 {
    visibility: hidden;
    margin-top: 17rem;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
  }
  h1 {
    margin-left: 3rem;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    transform: scaleY(1.3);
    width: 40%;
  }
  h3 {
    margin-left: 3rem;
    width: 40vw;
    margin-right: 1rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
  }
  .nav {
    height: 3rem;
    width: 100vw;
    z-index: 1;
    margin-top: 0rem;
    padding: 0.5rem;
    margin-left: -1rem;
  }
  .nav img {
    margin-left: 4rem;
    width: 8rem;
    height: 3rem;
  }
  .jnow {
    position: absolute;
    font-size: 15px;
    width: 9vw;
    height: 2.5rem;
    margin-left: 58vw;
  }
  .sinow {
    position: absolute;
    height: 2.5rem;
    width: 9vw;
    font-size: 15px;
    margin-left: 68vw;
    margin-top: 0rem;
  }
  .action {
    margin-top: 3rem;
  }
  .kandd {
    margin-top: -4rem;
  }
  .bngworth {
    margin-top: -4rem;
  }
}
@media only screen and (min-width: 1350px) {
  .butt {
    margin-top: 15rem;
  }
  .butt1 {
    margin-top: 15rem;
  }
}
