.outerdiv {
  background-color: rgb(24, 24, 24);
  color: #fff;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow-x: hidden;
}
.innerdiv {
  display: grid;
  grid-template-columns: 19.5rem 19.5rem 19.5rem 19.5rem 19.5rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem 19rem;
  margin-left: 2rem;
  margin-right: 3rem;
  overflow-x: hidden;
}
.innerdiv h4 {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0.25rem;
  text-align: center;
  font-weight: lighter;
}
.butt {
  scroll-behavior: smooth;
  position: absolute;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 4rem;
  margin-left: 102rem;
  background-color: rgb(24, 24, 24);
  color: red;
  border-style: none;
  width: 2rem;
  height: 2rem;
}
.butt1 {
  visibility: hidden;
  scroll-behavior: smooth;
  position: absolute;
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 4rem;
  margin-left: 0rem;
  background-color: rgb(24, 24, 24);
  color: red;
  border-style: none;
  width: 2rem;
  height: 2rem;
}
h1 {
  margin-left: 2rem;
  font-family: sans-serif;
  font-size: 3rem;
  font-weight: 800;
  width: 685px;
}
h3 {
  margin-left: 2rem;
  font-family: sans-serif;
  font-size: 1.2rem;
  width: 685px;
  line-height: 1.7rem;
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-weight: lighter;
}
.nav {
  background-color: #000;
  height: 4rem;
  margin-top: -2rem;
  padding: 0.5rem;
  margin-left: -1rem;
}
.nav img {
  margin-left: 3rem;
}
.jnow {
  position: absolute;
  height: 2.5rem;
  width: 7rem;
  font-family: sans-serif;
  border-radius: 3px;
  border-style: none;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 70rem;
  margin-top: 1rem;
  background-color: #df0712;
  color: #fff;
}
.sinow {
  position: absolute;
  height: 2.5rem;
  width: 7rem;
  font-family: sans-serif;
  border-radius: 3px;
  border-style: outset;
  font-weight: lighter;
  font-size: 15px;
  margin-left: 83em;
  margin-top: 1rem;
  background-color: black;
  color: #fff;
}
